{
    "presets":[
        ["@babel/preset-env",{
            "targets":{
                "browsers":[">1%"]
                //node:'10',//以node10位目标
                //chrome:'59cnpm ',//以谷歌浏览器56版本为目标
            }
        }]
    ],
    "plugins":["@babel/transform-runtime"]
}